<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.com.android_obd_reader" >

    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application>

    </application>
</manifest>
